<div class="form-card">
  <div class="form-grid">
    <div class="field-group">
      <label>Documento</label>
      <input class="velox-input" placeholder="Número de documento" [(ngModel)]="nuevoCliente.documento" />
    </div>
    <div class="field-group">
      <label>Nombre</label>
      <input class="velox-input" placeholder="Nombre completo" [(ngModel)]="nuevoCliente.nombre" />
    </div>
    <div class="field-group">
      <label>Teléfono</label>
      <input class="velox-input" placeholder="Número de teléfono" [(ngModel)]="nuevoCliente.telefono" />
    </div>
    <div class="field-group" style="justify-content: flex-end;">
      <button class="btn-primary" (click)="registrar()"
              [disabled]="!nuevoCliente.documento || !nuevoCliente.nombre || !nuevoCliente.telefono">
        Registrar
      </button>
    </div>
  </div>
  <p class="msg-exito" *ngIf="mensaje">{{ mensaje }}</p>
  <p class="msg-error" *ngIf="mensajeError">{{ mensajeError }}</p>
</div>

<div class="modal-overlay" *ngIf="clienteEditando">
  <div class="modal-card">
    <h3>Editar Cliente</h3>
    <div class="field-group">
      <label>Documento</label>
      <input class="velox-input" [(ngModel)]="clienteEditando.documento" />
    </div>
    <div class="field-group">
      <label>Nombre</label>
      <input class="velox-input" [(ngModel)]="clienteEditando.nombre" />
    </div>
    <div class="field-group">
      <label>Teléfono</label>
      <input class="velox-input" [(ngModel)]="clienteEditando.telefono" />
    </div>
    <div class="modal-actions">
      <button class="btn-primary" (click)="guardar()">Guardar</button>
      <button class="btn-cancel" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
</div>
