<div style="padding:40px">

  <h2>Registro de Clientes</h2>

  <input
    placeholder="Documento"
    [(ngModel)]="nuevoCliente.documento"
    required
  />

  <input
    placeholder="Nombre"
    [(ngModel)]="nuevoCliente.nombre"
    required
  />

  <input
    placeholder="Teléfono"
    [(ngModel)]="nuevoCliente.telefono"
    required
  />

  <button
    (click)="registrarCliente()"
    [disabled]="!nuevoCliente.documento || !nuevoCliente.nombre || !nuevoCliente.telefono"
  >
    Registrar Cliente
  </button>

  <p>{{mensaje}}</p>

  <hr>

  <h2>Lista de Clientes</h2>

  <table border="1" width="100%">
    <tr>
      <th>ID</th>
      <th>Documento</th>
      <th>Nombre</th>
      <th>Teléfono</th>
    </tr>

    <tr *ngFor="let c of clientes">
      <td>{{c.clienteId}}</td>
      <td>{{c.documento}}</td>
      <td>{{c.nombre}}</td>
      <td>{{c.telefono}}</td>
    </tr>

  </table>

</div>
