<section class="velox-main">
  <aside class="velox-sidebar">
    <app-bicicleta-form
      [proveedores]="proveedores"
      [mensaje]="mensaje"
      [mensajeError]="mensajeError"
      (onRegistrar)="procesarRegistro($event)">
    </app-bicicleta-form>
  </aside>

  <section class="velox-catalog">
    <app-bicicleta-list
      [bicicletas]="bicicletas"
      [inventario]="inventario"
      (onEliminar)="procesarEliminacion($event)"
      (onActualizar)="cargarTodo()">
    </app-bicicleta-list>
  </section>
</section>
