<section class="velox-main">

  <aside class="velox-sidebar">
    <div class="velox-card">
      <div class="card-header-neon">REGISTRAR BICICLETA</div>
      <div class="card-body">

        <div class="field-group">
          <label class="field-label">Marca</label>
          <input class="velox-input" placeholder="Ej: Trek" [(ngModel)]="nuevaBicicleta.marca">
        </div>

        <div class="field-group">
          <label class="field-label">Modelo</label>
          <input class="velox-input" placeholder="Ej: Marlin 5" [(ngModel)]="nuevaBicicleta.modelo">
        </div>

        <div class="field-group">
          <label class="field-label">Tipo</label>
          <select class="velox-select" [(ngModel)]="nuevaBicicleta.tipo">
            <option value="" disabled>Seleccione tipo</option>
            <option value="MTB">MTB</option>
            <option value="RUTA">Ruta</option>
            <option value="URBANO">Urbano</option>
            <option value="BMX">BMX</option>
          </select>
        </div>

        <div class="field-row">
          <div class="field-group">
            <label class="field-label">Precio</label>
            <input type="number" class="velox-input" [(ngModel)]="nuevaBicicleta.precio">
          </div>
          <div class="field-group">
            <label class="field-label">Stock</label>
            <input type="number" class="velox-input" [(ngModel)]="stockInicial">
          </div>
        </div>

        <p class="msg-exito" *ngIf="mensaje">{{ mensaje }}</p>
        <p class="msg-error" *ngIf="mensajeError">{{ mensajeError }}</p>

        <button class="velox-btn-primary" (click)="registrarBicicleta()">GUARDAR</button>

      </div>
    </div>
  </aside>

  <section class="velox-catalog">

    <div class="catalog-header">
      <div>
        <h2 class="catalog-title">CATALOGO</h2>
        <p class="catalog-sub">Listado de bicicletas</p>
      </div>
      <button class="btn-refresh" (click)="cargarBicicletas()">ACTUALIZAR</button>
    </div>

    <div class="empty-state" *ngIf="bicicletas.length === 0">
      No hay bicicletas registradas
    </div>

    <div class="catalog-grid">
      <div class="bike-card" *ngFor="let b of bicicletas">
        <div class="bike-card-top">
          <span class="tipo-badge tipo-{{b.tipo?.toLowerCase()}}">{{ b.tipo }}</span>
          <span class="bike-cod">{{ b.codigo }}</span>
        </div>
        <div class="bike-img-wrap">
          <img [src]="getImagen(b.tipo)" [alt]="b.tipo" class="bike-img"
               onerror="this.style.display='none'" />
        </div>
        <div class="bike-info">
          <span class="bike-marca">{{ b.marca }}</span>
          <span class="bike-modelo">{{ b.modelo }}</span>
          <span class="bike-precio">{{ b.precio | currency:'COP':'symbol':'1.0-0' }}</span>
        </div>
      </div>
    </div>

  </section>

</section>
