<nav class="velox-nav">

  <div class="nav-brand">
    <span class="brand-icon">🚴</span>
    VELOX <span class="brand-accent">STORE</span>
  </div>

  <div class="nav-links">
    <a routerLink="/bicicletas" routerLinkActive="active" class="nav-link">BICICLETA</a>
    <a routerLink="/ventas" routerLinkActive="active" class="nav-link">VENTAS</a>
    <a routerLink="/inventario" routerLinkActive="active" class="nav-link">INVENTARIO</a>
    <a routerLink="/clientes" routerLinkActive="active" class="nav-link">CLIENTES</a>
  </div>

  <div class="nav-badge">
    SYSTEM
  </div>

</nav>
