<div class="velox-card">
  <div class="card-header-neon">REGISTRAR PROVEEDOR</div>
  <div class="card-body">
    <div class="field-group">
      <label>Nombre Proveedor</label>
      <input class="velox-input" placeholder="Ej: Shimano Colombia" [(ngModel)]="nuevoProveedor.nombre" />
    </div>
    <div class="field-group">
      <label>Contacto (Email/Tel)</label>
      <input class="velox-input" placeholder="Nombre de contacto" [(ngModel)]="nuevoProveedor.contacto" />
    </div>
    <div class="field-group">
      <label>Dirección</label>
      <input class="velox-input" placeholder="Ciudad / Dirección" [(ngModel)]="nuevoProveedor.direccion" />
    </div>
    <button class="velox-btn-primary" (click)="enviar()"
            [disabled]="!nuevoProveedor.nombre || !nuevoProveedor.contacto || !nuevoProveedor.direccion">
      GUARDAR
    </button>
  </div>
  <p class="msg-exito" *ngIf="mensaje">{{ mensaje }}</p>
  <p class="msg-error" *ngIf="mensajeError">{{ mensajeError }}</p>
</div>
