<table class="velox-table" *ngIf="inventario && inventario.length > 0">
  <thead>
  <tr>
    <th>Código</th>
    <th>Bicicleta</th>
    <th>Stock Actual</th>
    <th>Precio Unit.</th>
    <th>Valor Total</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of inventario">
    <td><span class="id-badge">{{ i.codigo }}</span></td>

    <td>{{ i.marca }} {{ i.modelo }}</td>

    <td>
      <span class="stock-badge" [class.bajo]="i.stock <= 3">{{ i.stock }}</span>
    </td>

    <td>{{ i.precio | currency:'COP':'symbol':'1.0-0' }}</td>

    <td><strong class="text-neon">{{ (i.precio * i.stock) | currency:'COP':'symbol':'1.0-0' }}</strong></td>
  </tr>
  </tbody>
</table>

<div class="empty-state" *ngIf="!inventario || inventario.length === 0">El inventario está vacío</div>
